form{
    background-color:#ecedee;
    padding:10px;
    border:1px solid #000;
    box-shadow:inset 0 1px 1px rgba(182, 126, 126, 0.05);
}
.navbar-inverse{
    background-color:#6f96bf;
    padding:10px;

}
h3{
   color:#fff;
   font-family:channel;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
    .col-xs-6 a{
        float:right;
        color: #fff;
    }
    .well{
        min-height: 300px;
        box-shadow:inset 0 1px 1px rgba(182, 126, 126, 0.05);

    }
    .btn-danger{
    background: -webkit-linear-gradient(top, #f07030 0%,#b8440c 100%);
    border-radius: 3px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .clear{
        clear:both;
    }
    .footer_nav{
        background-color:#BC1746;
        width:100%;
        height:20px;
        margin-top: 20px;
        padding:20px;
    }
}